@model yemek.Models.yemn
@{
    ViewBag.Title = "UrunForm";
    Layout = "~/Areas/admin/Views/Shared/_LayoutAdmin.cshtml";
}

<div class="content-wrapper">
    <div class="container">
        <h2>Yemek Form Sayfası</h2>
        @using (Html.BeginForm("Kaydet", "Urunler", FormMethod.Post, new { @enctype="multipart/form-data"}))
        {
    <table class="table table-bordered">
        <tr>
            <td>
                Foto
            </td>
            <td>
                @if (Model.foto != null)
                {
                    <img src="~/Content/img/@Model.foto" width="250" />
                }
                @Html.TextBoxFor(m => m.fotoFile, new { type = "file" })
            </td>
        </tr>
        <tr>
            <td>
                Başlık
            </td>
            <td>
                @Html.TextBoxFor(m => m.baslik, new { @class = "form-control" })
            </td>
        </tr>
        <tr>
            <td>
                İçerik
            </td>
            <td>
                @Html.TextBoxFor(m => m.icerik, new { @class = "form-control" })
            </td>
        </tr>
         <tr>
             <td>

             </td>
             <td>
                 @Html.HiddenFor(m=>m.foto)
                 @Html.HiddenFor(m=>m.id)
                 <input type="submit" value="Kaydet" class="btn btn-primary" />
             </td>
         </tr>
        
    </table> 
        }
    </div>

</div>

